@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&family=Work+Sans:wght@700&display=swap');

:root {
    /* --accent: #5A7485; */
    /* --accent: #6b889b; */
    --accent: #54B688;
}

@media print {
    body {
        font-family: 'Open Sans', sans-serif;
        width: 8.25in;
        height: 11.75in;
        margin: 0 0 0 0;
        padding: 10mm 16mm;
    }
}

html {
    font-size: 10px;
}
body {
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: var(--accent);
}
h1 {
    font-size: 5.5rem;
}
h3 {
    font-size: 1.5rem;
}
p, 
li {
    line-height: 1.8;
}
a {
    text-decoration:none;
    color: var(--accent);
}
ul {
    padding-left:0;
    list-style: none;
}
ul li::before {
    content: '▹';
    display: inline-block;
    margin-right: .25rem;
}
.contact a {
    font-family: 'Source Code Pro', monospace;
    display:inline-block;
    margin-right: 2rem;
}

/* .intro */
.intro h2 {
    font-family: inherit;
    /* color: #666; */
    font-size: 2rem;
}


.experience .entry .role {
    margin-bottom: 0;
    font-size: 1.25rem;
}

.date {
    font-family: 'Source Code Pro', monospace;    
}
.date span {
    color: #666;
    margin-left: .5rem;
}


.skills h3, 
.projects h3 {
    font-family: inherit;
    font-size: 1.15rem;
}
