@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Merriweather:wght@400;700&family=Open+Sans:wght@400;500&display=swap');

:root {
    /* --accent: #5A7485; */
    /* --accent: #4B6C82; */
    --accent: #647972;

    /* fonts */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Merriweather', serif;
    --alt-font: 'IBM Plex Mono', monospace;
}

/* page setup */
@media print {
    * {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
    body {
        width: 8.25in;
        height: 11.75in;
        margin: 0 0 0 0;
        padding: 10mm 16mm;
    }
}

html {
    font-size: 10px;
}
body {
    font-size: inherit;
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3 {
    font-family: var(--secondary-font);
    /* font-weight: 400; */
    color: var(--accent);
}
h1 {
    font-size: 5.5rem;
}
h3 {
    font-size: 1.5rem;
    font-weight:500;
}
p, 
li {
    line-height: 1.8;
}
strong {
    font-weight: 500;
}
a {
    text-decoration:none;
    color: var(--accent);
    font-family: var(--alt-font);
}
ul {
    padding-left:0;
    list-style: none;
}
ul li::before {
    content: '▹';
    display: inline-block;
    margin-right: .25rem;
}
.contact a {
    display:inline-block;
    margin-right: 2rem;
}
.intro h2 {
    font-family: var(--alt-font);
    font-size: 1.75rem;
    color: inherit;
}
.entry {
    margin-bottom: 1.5rem;
}
.experience .entry .role {
    margin-bottom: 0;
    font-size: 1.2rem;
}
.date {
    font-family: var(--alt-font);
    margin-bottom: .5rem;
}
.skills h3, 
.projects h3, 
.edu h3 {
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
}
